transition-all()
  -webkit-transition all 0.5s
  -moz-transition all 0.5s
  transition all 0.5s

.transition-all
  transition-all()

background-cover()
  -webkit-background-size cover
  -moz-background-size cover
  background-size cover
  -o-background-size cover

.background-cover
  background-cover()

serif()
  font-family 'PingFang SC', 'Verdana', 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

.serif
  serif()

sans-serif()
  font-family 'PingFang SC', 'Verdana', 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

.sans-serif
  sans-serif()
